body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}

#container {
	display:block;
	right:0px;
	height:100%;
}

#info {
	position	: absolute;
	top			: 0px;
	left		: 0px;
	width		: 50%;
	height		: 100%;
}

#map {
	width:50%;
	height:100%;
	display:block;
	right:0px;
	position:absolute;
	margin-bottom: 50px;
}

label {
	display:inline-block;
}

textarea {
	display:inline-block;
}

table {
	height:100%;
	padding:8px;
	width:100%;
	text-align:center;

}

tr {	
	padding:8px;

}

td {
	vertical-align:center;
	padding:8px;
}

footer {
	display:block;
	background-color:#999999;
	position:absolute;
	bottom:0px;
	width:100%;
	height:60px;
}